@model WebApplication13.Models.Author
@using WebApplication13.Models
@{
    Layout = null;
}

<!DOCTYPE html>
<html style="font-size: 16px;">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="keywords" content="name​, ​name">
    <meta name="description" content="">
    <meta name="page_type" content="np-template-header-footer-from-plugin">
    <title>@Model.FirstName @Model.LastName | Research Gate</title>
    <link rel="stylesheet" href="~/Profile Asset/CSS/nicepage.css" media="screen">
    <link rel="stylesheet" href="~/Profile Asset/CSS/Profile.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/Profile Asset/script/jquery-1.9.1.min.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/Profile Asset/script/nicepage.js" defer=""></script>
    <meta name="generator" content="Nicepage 4.10.5, nicepage.com">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <meta name="theme-color" content="#478ac9">
    <meta property="og:title" content="Page 2">
    <meta property="og:type" content="website">
    <link rel="stylesheet" href="~/Profile Asset/CSS/nice.css" media="screen">
    <link rel="stylesheet" href="~/Profile Asset/CSS/header&flooter.css" media="screen">
    <script class="u-script" type="text/javascript" src="~/Profile Asset/script/jquery-1.9.1.js" defer=""></script>
    <script class="u-script" type="text/javascript" src="~/Profile Asset/script/nice.js" defer=""></script>
</head>
<body class="u-body u-xl-mode">

    <header class="u-clearfix u-header u-header" id="sec-bf2e" data-animation-name="" data-animation-duration="0" data-animation-delay="0" data-animation-direction="">
        <div class="u-clearfix u-sheet u-sheet-1">
                    <div class="u-list u-list-1"  style="margin-left:900px;">
                        <div class="u-repeater u-repeater-1">
                            <div class="u-container-style u-list-item u-repeater-item">
                                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-1">
                                    <a href="@Url.Action("MainIndex", "Home")" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-custom-item u-none u-text-black u-btn-1">HOME</a>
                                </div>
                            </div>
                            <div class="u-container-style u-list-item u-repeater-item">
                                <div class="u-container-layout u-similar-container u-valign-top u-container-layout-5">
                                    <a href="@Url.Action("Contact", "Home")" class="u-border-1 u-border-active-palette-2-base u-border-hover-palette-1-base u-btn u-button-style u-custom-item u-none u-text-body-color u-btn-5">CONTACT</a>
                                </div>
                            </div>
                        </div>
                    </div>
                   
            <h4 class="u-text u-text-default u-text-1">RESEARCH GATE</h4>
        </div>
    </header>
    <section class="u-align-center-lg u-align-center-md u-align-center-sm u-align-center-xs u-clearfix u-grey-10 u-section-1" id="carousel_1dd8">
        <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
            <div class="u-shape u-shape-svg u-text-custom-color-1 u-shape-1">
                <svg class="u-svg-link" preserveAspectRatio="none" viewBox="0 0 160 160" style=""><use xlink:href="#svg-006d"></use></svg>
                <svg class="u-svg-content" viewBox="0 0 160 160" x="0px" y="0px" id="svg-006d" style="enable-background:new 0 0 160 160;">
                    <path d="M80,30c27.6,0,50,22.4,50,50s-22.4,50-50,50s-50-22.4-50-50S52.4,30,80,30 M80,0C35.8,0,0,35.8,0,80s35.8,80,80,80
	s80-35.8,80-80S124.2,0,80,0L80,0z"></path>
                </svg>
            </div>
            @{
                string imageBase64 = Convert.ToBase64String(Model.ProfileImage);
                string imageSrc = string.Format("data:image/jpg;base64,{0}", imageBase64);
                <img src="@imageSrc" class="u-image u-image-circle u-image-1" />
            }
            <div class="u-container-style u-group u-radius-5 u-shape-round u-white u-group-1">
                <div class="u-container-layout u-container-layout-1">
                    <h2 class="u-align-center u-text u-text-1"> @Model.FirstName @Model.LastName</h2><span class="u-file-icon u-icon u-icon-1"><img src="~/Profile Asset/images/1782765.png" alt=""></span>
                    <h3 class="u-align-left u-text u-text-2">@Model.Email</h3><span class="u-align-left u-file-icon u-icon u-icon-2"><img src="~/Profile Asset/images/455705.png" alt=""></span>
                    <h3 class="u-align-left u-text u-text-3">
                        @Model.Mobile<span style="font-weight: 700;"></span>
                    </h3><span class="u-file-icon u-icon u-icon-3"><img src="~/Profile Asset/images/3418754.png" alt=""></span>
                    <h3 class="u-align-left u-text u-text-4">@Model.University</h3><span class="u-file-icon u-icon u-icon-4"><img src="~/Profile Asset/images/711161.png" alt=""></span>
                    <h3 class="u-align-left u-text u-text-5">@Model.Department</h3>
                    @{
                        if (Convert.ToInt32(Session["userid"]) == Model.ID)
                        {

                            <button class="u-active-palette-4-dark-3 u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-4-dark-3 u-radius-5 u-text-body-alt-color u-btn-1" onclick="location.href='@Url.Action("Edit", "EditProfile")'">Edit profile</button>

                        }
                    }
                </div>
            </div>
            <div class="u-custom-color-1 u-shape u-shape-circle u-shape-2"></div>
        </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="carousel_cf83">
        <div class="u-clearfix u-sheet u-sheet-1">
            <div class="u-expanded-width u-table u-table-responsive u-table-1">
                <table class="u-table-entity u-table-entity-1">
                    <colgroup>
                        <col width="33.3%">
                        <col width="33.3%">
                        <col width="33.400000000000006%">
                    </colgroup>
                    <thead class="u-custom-color-1 u-custom-font u-font-courier-new u-table-header u-table-header-1">
                        <tr style="height: 48px;">
                            <th class="u-table-cell">Title</th>
                            <th class="u-table-cell">Publish Year</th>
                            <th class="u-table-cell">Category</th>

                            @{
                                if (Convert.ToInt32(Session["userid"]) == Model.ID)
                                {
                                    <th class="u-table-cell"></th>

                                }
                            }
                        </tr>
                    </thead>
                    <tbody class="u-table-body">
                        @foreach (var item in Model.Papers)
                        {
                            <tr style="height: 55px;">
                                <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-first-column u-table-cell u-table-cell-4">
                                    <a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="@Url.Action("PaperProfile", "Paper",new { id=item.ID})" data-page-id="1883204">@item.Title</a>
                                </td>
                                <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell">@item.PublichYear</td>
                                <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell">@item.Category</td>
                                @{
                                    if (Convert.ToInt32(Session["userid"]) == Model.ID)
                                    {

                                        <td class="u-border-1 u-border-grey-30 u-border-no-left u-border-no-right u-table-cell"><a class="u-active-none u-border-none u-btn u-button-link u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1" href="@Url.Action("DeletePaper", "Paper",new { id=item.ID})" data-page-id="1883204">Del</a></td>

                                    }
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            @{
                if (Convert.ToInt32(Session["userid"]) == Model.ID)
                {

                    <button class="u-border-none u-btn u-btn-round u-button-style u-custom-color-1 u-hover-palette-1-light-1 u-radius-50 u-btn-2" onclick="location.href='@Url.Action("CreatePaper", "Paper")'">add paper</button>

                }
            }
        </div>
    </section>

    <footer class="u-clearfix u-footer u-grey-80" id="sec-37ee">
        <div class="u-clearfix u-sheet u-sheet-1">
            <h3 class="u-text u-text-default u-text-1"></h3>
            <h3 class="u-text u-text-2"> Social media</h3>
            <h5 class="u-text u-text-3"> ResearchGate INC</h5>
            <h6 class="u-text u-text-4"> 592 Avenue Street, Los Angeles, CA 90012</h6>
            <div class="u-social-icons u-spacing-10 u-social-icons-1">
                <a class="u-social-url" title="facebook" target="_blank" href="">
                    <span class="u-icon u-social-facebook u-social-icon u-icon-1">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-d1b6"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-d1b6">
                            <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
                            <path fill="#FFFFFF" d="M73.5,31.6h-9.1c-1.4,0-3.6,0.8-3.6,3.9v8.5h12.6L72,58.3H60.8v40.8H43.9V58.3h-8V43.9h8v-9.2
          c0-6.7,3.1-17,17-17h12.5v13.9H73.5z"></path>
                        </svg>
                    </span>
                </a>
                <a class="u-social-url" title="twitter" target="_blank" href="">
                    <span class="u-icon u-social-icon u-social-twitter u-icon-2">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-39dc"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-39dc">
                            <circle fill="currentColor" class="st0" cx="56.1" cy="56.1" r="55"></circle>
                            <path fill="#FFFFFF" d="M83.8,47.3c0,0.6,0,1.2,0,1.7c0,17.7-13.5,38.2-38.2,38.2C38,87.2,31,85,25,81.2c1,0.1,2.1,0.2,3.2,0.2
          c6.3,0,12.1-2.1,16.7-5.7c-5.9-0.1-10.8-4-12.5-9.3c0.8,0.2,1.7,0.2,2.5,0.2c1.2,0,2.4-0.2,3.5-0.5c-6.1-1.2-10.8-6.7-10.8-13.1
          c0-0.1,0-0.1,0-0.2c1.8,1,3.9,1.6,6.1,1.7c-3.6-2.4-6-6.5-6-11.2c0-2.5,0.7-4.8,1.8-6.7c6.6,8.1,16.5,13.5,27.6,14
          c-0.2-1-0.3-2-0.3-3.1c0-7.4,6-13.4,13.4-13.4c3.9,0,7.3,1.6,9.8,4.2c3.1-0.6,5.9-1.7,8.5-3.3c-1,3.1-3.1,5.8-5.9,7.4
          c2.7-0.3,5.3-1,7.7-2.1C88.7,43,86.4,45.4,83.8,47.3z"></path>
                        </svg>
                    </span>
                </a>
                <a class="u-social-url" title="instagram" target="_blank" href="">
                    <span class="u-icon u-social-icon u-social-instagram u-icon-3">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-3a17"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-3a17">
                            <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
                            <path fill="#FFFFFF" d="M55.9,38.2c-9.9,0-17.9,8-17.9,17.9C38,66,46,74,55.9,74c9.9,0,17.9-8,17.9-17.9C73.8,46.2,65.8,38.2,55.9,38.2
          z M55.9,66.4c-5.7,0-10.3-4.6-10.3-10.3c-0.1-5.7,4.6-10.3,10.3-10.3c5.7,0,10.3,4.6,10.3,10.3C66.2,61.8,61.6,66.4,55.9,66.4z"></path>
                            <path fill="#FFFFFF" d="M74.3,33.5c-2.3,0-4.2,1.9-4.2,4.2s1.9,4.2,4.2,4.2s4.2-1.9,4.2-4.2S76.6,33.5,74.3,33.5z"></path>
                            <path fill="#FFFFFF" d="M73.1,21.3H38.6c-9.7,0-17.5,7.9-17.5,17.5v34.5c0,9.7,7.9,17.6,17.5,17.6h34.5c9.7,0,17.5-7.9,17.5-17.5V38.8
          C90.6,29.1,82.7,21.3,73.1,21.3z M83,73.3c0,5.5-4.5,9.9-9.9,9.9H38.6c-5.5,0-9.9-4.5-9.9-9.9V38.8c0-5.5,4.5-9.9,9.9-9.9h34.5
          c5.5,0,9.9,4.5,9.9,9.9V73.3z"></path>
                        </svg>
                    </span>
                </a>
                <a class="u-social-url" title="linkedin" target="_blank" href="">
                    <span class="u-icon u-social-icon u-social-linkedin u-icon-4">
                        <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 112 112" style=""><use xlink:href="#svg-651b"></use></svg><svg class="u-svg-content" viewBox="0 0 112 112" x="0" y="0" id="svg-651b">
                            <circle fill="currentColor" cx="56.1" cy="56.1" r="55"></circle>
                            <path fill="#FFFFFF" d="M41.3,83.7H27.9V43.4h13.4V83.7z M34.6,37.9L34.6,37.9c-4.6,0-7.5-3.1-7.5-7c0-4,3-7,7.6-7s7.4,3,7.5,7
          C42.2,34.8,39.2,37.9,34.6,37.9z M89.6,83.7H76.2V62.2c0-5.4-1.9-9.1-6.8-9.1c-3.7,0-5.9,2.5-6.9,4.9c-0.4,0.9-0.4,2.1-0.4,3.3v22.5
          H48.7c0,0,0.2-36.5,0-40.3h13.4v5.7c1.8-2.7,5-6.7,12.1-6.7c8.8,0,15.4,5.8,15.4,18.1V83.7z"></path>
                        </svg>
                    </span>
                </a>
            </div>
            <a href="https://nicepage.com/k/interactive-website-templates" class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-1">
                <span class="u-icon"><svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg><img></span>&nbsp;​+1 800 931 812
            </a>
            <a href="mailto:info@site.com" class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-2">
                <span style="font-weight: 700;"></span><span class="u-icon">
                    <svg class="u-svg-content" viewBox="0 0 24 16" x="0px" y="0px" style="width: 1em; height: 1em;">
                        <path fill="currentColor" d="M23.8,1.1l-7.3,6.8l7.3,6.8c0.1-0.2,0.2-0.6,0.2-0.9V2C24,1.7,23.9,1.4,23.8,1.1z M21.8,0H2.2
c-0.4,0-0.7,0.1-1,0.2L10.6,9c0.8,0.8,2.2,0.8,3,0l9.2-8.7C22.6,0.1,22.2,0,21.8,0z M0.2,1.1C0.1,1.4,0,1.7,0,2V14
c0,0.3,0.1,0.6,0.2,0.9l7.3-6.8L0.2,1.1z M15.5,9l-1.1,1c-1.3,1.2-3.6,1.2-4.9,0l-1-1l-7.3,6.8c0.2,0.1,0.6,0.2,1,0.2H22
c0.4,0,0.6-0.1,1-0.2L15.5,9z"></path>
                    </svg><img>
                </span>
                <span style="font-weight: 700;">&nbsp;office@ResearchGate.com</span>
            </a>
            <p class="u-small-text u-text u-text-variant u-text-5"> © 2008-2022 ResearchGate GmbH. All rights reserved.</p>
        </div>
    </footer>



</body>
</html>
